Repository Cat-aclsym/Cat-aclsym_Claw_of_the_dead, pull requests merged in 2025-05, with the labels that each got.

#135 Add new maps for arc 1.
  assets/environment/tilesets/tileset_Ground_Grass.png
  assets/environment/tilesets/tileset_Ground_Grass.png.import
  assets/environment/tilesets/tileset_Ground_Gravel.png
  assets/environment/tilesets/tileset_Ground_Gravel.png.import
  assets/environment/tilesets/tileset_Ground_Rock.png
  assets/environment/tilesets/tileset_Ground_Rock.png.import
  assets/environment/tilesets/tileset_Ground_Sand.png
  assets/environment/tilesets/tileset_Ground_Sand.png.import
  assets/environment/tilesets/tileset_Ground_Way.png
  assets/environment/tilesets/tileset_Ground_Way.png.import
  assets/environment/tilesets/tileset_Water-Anime.png
  assets/environment/tilesets/tileset_Water-Anime.png.import
  assets/environment/tilesets/tileset_Water.png
  assets/environment/tilesets/tileset_Water.png.import
  resources/levels/lev.01.json
  scenes/gameplay/world/level/i_level.gd
  scenes/gameplay/world/level/levels/lev.01.tscn
  scenes/gameplay/world/level/levels/lev.02.tscn
  scenes/gameplay/world/level/levels/lev.03.tscn
  scenes/gameplay/world/map/i_map.tscn
  scenes/gameplay/world/map/maps/arc.01/map.01.tscn
  scenes/gameplay/world/map/maps/arc.01/map.02.tscn
  scenes/gameplay/world/map/maps/arc.01/map.03.tscn
  scenes/gameplay/world/map/maps/map_1.tscn
  scenes/gameplay/world/map/tile_map_plains.tscn
  scripts/wave/wave_step_spawn.gd
Labels: feature, map

#139 Add animation to bullets.
  scenes/gameplay/entities/bullet/aoe_arrow.gd
  scenes/gameplay/entities/bullet/aoe_arrow.tscn
  scenes/gameplay/entities/bullet/base_arrow.tscn
  scenes/gameplay/entities/bullet/fire_arrow.gd
  scenes/gameplay/entities/bullet/fire_arrow.tscn
  scenes/gameplay/entities/bullet/i_bullet.gd
  scenes/gameplay/entities/bullet/piercing_arrow.gd
  scenes/gameplay/entities/bullet/piercing_arrow.tscn
  scenes/gameplay/entities/tower/i_tower.gd
  scenes/gameplay/entities/tower/i_tower.tscn
  scenes/gameplay/entities/tower/towers/bat_01.tscn
  scenes/gameplay/entities/tower/towers/debug_aoe_tower.tscn
  scenes/gameplay/entities/tower/towers/debug_fire_tower.tscn
  scenes/gameplay/entities/tower/towers/debug_multishot_tower.tscn
  scenes/gameplay/entities/tower/towers/debug_piercing_tower.tscn
Labels: bullet

#142 Add placeholder sprite and texture for big daddy enemy.
  scenes/gameplay/entities/enemy/enemies/big_daddy.tscn
Labels: bug, enemies

#143 Add tower upgrade and selling menu
  assets/ui/background/Background Tower Upgrade.svg
  assets/ui/background/Background Tower Upgrade.svg.import
  assets/ui/icons/Button Close Upgrade.svg
  assets/ui/icons/Button Close Upgrade.svg.import
  assets/ui/icons/Button Sell.svg
  assets/ui/icons/Button Sell.svg.import
  assets/ui/icons/Button Upgrade.svg
  assets/ui/icons/Button Upgrade.svg.import
  assets/ui/icons/Gauge Level 1.svg
  assets/ui/icons/Gauge Level 1.svg.import
  assets/ui/icons/Gauge Level 2.svg
  assets/ui/icons/Gauge Level 2.svg.import
  assets/ui/icons/Gauge Level 3.svg
  assets/ui/icons/Gauge Level 3.svg.import
  assets/ui/icons/Gauge Level 4.svg
  assets/ui/icons/Gauge Level 4.svg.import
  assets/ui/icons/Icon Attack Speed.svg
  assets/ui/icons/Icon Attack Speed.svg.import
  assets/ui/icons/Icon Attack.svg
  assets/ui/icons/Icon Attack.svg.import
  scenes/gameplay/entities/bullet/enemy_projectile.gd
  scenes/gameplay/entities/bullet/enemy_projectile.tscn
  scenes/gameplay/entities/bullet/fire_arrow.tscn
  scenes/gameplay/entities/tower/i_tower.gd
  scenes/gameplay/entities/tower/i_tower.tscn
  scenes/gameplay/entities/tower/towers/bat_01.tscn
  scenes/gameplay/entities/tower/towers/bat_02.tscn
  scenes/gameplay/entities/tower/towers/debug_fire_tower.tscn
  scenes/gameplay/entities/tower/towers/debug_multishot_tower.tscn
  scenes/gameplay/entities/tower/towers/debug_piercing_tower.tscn
  scenes/gameplay/entities/upgrade/bat_01/bat_01_02.tscn
  scenes/gameplay/entities/upgrade/bat_01/bat_01_03.tscn
  scenes/gameplay/entities/upgrade/bat_01/bat_01_a_04.tscn
  scenes/gameplay/entities/upgrade/bat_01/bat_01_a_05.tscn
  scenes/gameplay/entities/upgrade/bat_01/bat_01_b_04.tscn
  scenes/gameplay/entities/upgrade/bat_01/bat_01_b_05.tscn
  scenes/gameplay/entities/upgrade/bat_02/bat_02_02.tscn
  scenes/gameplay/entities/upgrade/bat_02/bat_02_03.tscn
  scenes/gameplay/entities/upgrade/bat_02/bat_02_a_04.tscn
  scenes/gameplay/entities/upgrade/bat_02/bat_02_a_05.tscn
  scenes/gameplay/entities/upgrade/bat_02/bat_02_b_04.tscn
  scenes/gameplay/entities/upgrade/bat_02/bat_02_b_05.tscn
  scenes/gameplay/entities/upgrade/i_upgrade.gd
  scenes/gameplay/world/level/i_level.gd
  scenes/ui/menus/hud/tower_card.tscn
  scenes/ui/menus/hud/tower_card_aoe.tscn
  scenes/ui/menus/tower_selection/tower_cards/tower_card_bat_01.tscn
  scenes/ui/menus/tower_selection/tower_cards/tower_card_bat_02.tscn
  scenes/ui/menus/tower_selection/tower_selection.tscn
  scenes/ui/menus/tower_upgrade/tower_upgrade_buttons.tscn
  scenes/ui/menus/tower_upgrade/tower_upgrade_description.tscn
  scenes/ui/menus/tower_upgrade/tower_upgrade_menu.gd
  scenes/ui/menus/tower_upgrade/tower_upgrade_menu.tscn
Labels: feature, towers, ui

#144 Adjust levels waves, prices, health points and balance gameplay.
  resources/levels/lev.01.json
  scenes/gameplay/entities/enemy/enemies/big_daddy.tscn
  scenes/gameplay/entities/enemy/enemies/ene.01.tscn
  scenes/gameplay/entities/enemy/enemies/ene.02.tscn
  scenes/gameplay/entities/enemy/enemies/ene.03.tscn
Labels: tweak, towers, enemies
